---
---
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>koenidv</title>
  <link href="style.css" rel="stylesheet" />
</head>

<body>

  <div id="background"></div>

  <div class="head">
    <h1 id="title">
      Florian König
      <div class="tagcloud">
        <p>Kotlin</p>
        <p>Android Native</p>
        <p>SvelteKit</p>
        <p>React</p>
        <p>Typescript</p>
      </div>
    </h1>
    <div class="socials">
      <a href="https://instagram.com/koenique" alt="Instagram: koenique" class="social">
        <img src="assets/ic-instagram.svg" />
      </a>
      <a href="https://github.com/koenidv" alt="GitHub: koenidv" class="social">
        <img src="assets/ic-github.svg" />
      </a>
    </div> 
    </span>
  </div>


  <div class="content">

    <section id="news">
      <h4>Neues</h4>
      {% for post in site.posts limit:3 %}
      <a href="{{ post.redirect }}">
        <div class="entry">
          <h3>{{ post.title }}<span class="date">
              {% include date.html %}
            </span></h3>
          <p>{{ post.subtitle }}</p>
        </div>
      </a>
      {% endfor %}

      <div class="seemore">

        <div class="expandable">
          {% for post in site.posts offset:3 %}
          <a href="{{ post.redirect }}">
            <div class="entry">
              <h3>{{ post.title }}<span class="date">
                  {% include date.html %}
                </span></h3>
              <p>{{ post.subtitle }}</p>
            </div>
          </a>
          {% endfor %}
        </div>

        <div class="morebtn {% if site.posts.size <= 3 %}disabled{% endif %}" onclick="expandme(this.parentElement);this.classList.toggle('disabled');">
          <h5 id="moretxt">Mehr sehen</h5>
        </div>

      </div>
    </section>

    <section id="words">
      <h4>Inspirierende Worte</h4>

      {% assign quotes = site.words | reverse %}
      {% for quote in quotes limit:4 %}
      <div class="entry words" onclick="expandme(this)">
        <h3>{{ quote.quote }}</h3>
        <div class="expandable">
          {% if quote.author != nil %}<p>Von <a href="{{ quote.authorlink }}">{{ quote.author }}</a></p>{% endif %}
          {% if quote.source != nil %}<p>Aus <a href="{{ quote.sourcelink }}">{{ quote.source }}</a></p>{% endif %}
        </div>
      </div>
      {% endfor %}

      <div class="seemore">

        <div class="expandable">
          {% for quote in quotes offset:4 %}
          <div class="entry words" onclick="expandme(this)">
            <h3>{{ quote.quote }}</h3>
            <div class="expandable">
              <p>Von <a href="{{ quote.authorlink }}">{{ quote.author }}</a></p>
              <p>Aus <a href="{{ quote.sourcelink }}">{{ quote.source }}</a></p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="morebtn {% if quotes.size <= 4 %}disabled{% endif %}" onclick="expandme(this.parentElement);this.classList.toggle('disabled');">
          <h5 id="moretxt">Mehr sehen</h5>
        </div>

      </div>
    </section>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

  <script>
    function refreshBackground() {
      var num = Math.ceil(Math.random() * 23);

      // No direct repeat
      while (num == localStorage.getItem("bg")) {
        var num = Math.ceil(Math.random() * 23);
      }

      // Save the background number to avoid direct repeat
      localStorage.setItem("bg", num);

      // Hide empty background
      document.getElementById("background").style.opacity = 0;
      // Wait for the background image to load
      $('<img/>').attr('src', 'https://res.cloudinary.com/koenidv/image/upload/f_auto,q_auto,w_' + document.body.offsetWidth + '/' + num + "").on('load', function () {
        $(this).remove();
        // Set background image (already loaded)
        $('#background').css('background-image', 'url(https://res.cloudinary.com/koenidv/image/upload/f_auto,q_auto,w_' + document.body.offsetWidth + '/' + num + "");
        // Fade background in
        fadeIn(document.getElementById("background"));
      });
    }

    function expandme(element) {
      element.classList.toggle("expanded");
      content = element.getElementsByClassName("expandable")[0];
      if (content.style.maxHeight) {
        content.style.maxHeight = content.scrollHeight + "px";
        window.setTimeout(function () {
          content.style.maxHeight = null;
        }, 0);
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
        window.setTimeout(function () {
          content.style.maxHeight = "unset";
        }, 200);
      }
    }

  </script>


</body>

</html>