@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Montserrat|Libre+Barcode+39+Extended+Text|Dancing+Script&display=swap');

body {
    padding: 1rem 0;
    margin: 0;
}

h1 {
    font-family: 'Libre Barcode 39 Extended Text', sans-serif;
    margin: 0;
}

h3 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

h4,
h5,
p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: white;
    margin: 12rem 0;
}

#title .tagcloud {
    position: fixed;
    left: 0;
    right: 0;
    font-size: 1rem;
    color: #dedede;
    text-align: center;
}

.tagcloud>* {
    position: fixed;
    left: 0;
    right: 0;
}

.tagcloud :nth-child(1) {
    transform: translateX(-10rem) translateY(-6.5rem);
}
.tagcloud :nth-child(2) {
    transform: translateX(1rem) translateY(-7rem);
}
.tagcloud :nth-child(3) {
    transform: translateX(12rem) translateY(-6rem);
}
.tagcloud :nth-child(4) {
    transform: translateX(18rem) translateY(-3rem);
}
.tagcloud :nth-child(5) {
    transform: translateX(16rem) translateY(1.5rem);
}
.tagcloud :nth-child(6) {
    transform: translateX(9rem) translateY(4rem);
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    gap: 0.5rem;
}

.socials>* {
    width: 1.5rem;
    fill: #ffffff;
}

section {
    background: linear-gradient(to bottom, #fff, #fafafa);
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.entry {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eaeaea;
}

.entry .date {
    margin-left: 0.35rem;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
}

.entry.words h3 {
    font-family: 'Dancing Script', serif;
}

.entry.words {
    transition: padding 200ms, box-shadow 200ms, border-bottom 200ms, border-radius 200ms;
}

.expandable {
    padding: 1rem;
    margin: -1rem;
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: max-height 200ms, opacity 200ms 100ms;
}

:not(.seemore)>.expandable {
    overflow: hidden;
    color: #808080;
}

:not(.seemore)>.expandable>:first-child {
    margin-top: 0.5rem;
    border-top: 1px solid #eaeaea;
    padding-top: 0.5rem;
}

.expanded>.expandable {
    opacity: 1;
}

.expandable a {
    color: #000;
}

.entry.words.expanded {
    border-bottom: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: 0 0 25px #dedede;
    padding: 1rem;
}

.seemore h5 {
    color: #333333;
    margin-top: 1rem;
}

.disabled * {
    color: #aeaeae !important;
    text-decoration: line-through;
}

.inv {
    display: none;
}


div#background {
    top: 0;
    bottom: 30vh;
    left: 0;
    width: 100vw;
    z-index: -2;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

div#background:before {
    background-color: rgba(50, 50, 50, 0.5);
    position: fixed;
    content: " ";
    height: 100%;
    width: 100%;
}

@media(min-width: 48em) {
    .head {
        font-size: 1.25em;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section {
        width: 80%;
        margin: 0 auto;
        border-radius: 1rem;
        text-align: center;
    }

    div#background {
        bottom: 0;
    }

    div#background:before {
        height: 100%;
    }
}