@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    --elevation: 0.5rem;
    --text-outline-color: #131218;
}

@layer components {
    .elevated-card {
        position: relative;
        margin-bottom: var(--elevation);
        margin-right: var(--elevation);
        background-color: theme('colors.beige.100');

        --animation: 100ms ease-out;
        transition: margin var(--animation);

        &::before,
        &::after {
            content: "";
            position: absolute;
            transform-origin: 0 0;
            z-index: -1;
        }

        &::before {
            width: 100%;
            height: var(--elevation);
            transform: skewx(45deg);
            top: 100%;
            left: 0;
            background: #000000;
            transition: height var(--animation);
        }

        &::after {
            width: var(--elevation);
            height: 100%;
            transform: skewy(45deg);
            top: 0;
            left: 100%;
            background: #000000;
            z-index: -2;
            transition: width var(--animation);
        }
    }

    .elevated-card-hoverable {
        @apply elevated-card;

        &:hover {
            margin-bottom: calc(var(--elevation) / 2);
            margin-right: calc(var(--elevation) / 2);
            margin-top: calc(var(--elevation) / 2);
            margin-left: calc(var(--elevation) / 2);

            &::before {
                height: calc(var(--elevation) / 2);
            }

            &::after {
                width: calc(var(--elevation) / 2);
            }
        }
    }

    .group:hover>.elevated-card-hoverable {
        margin-bottom: calc(var(--elevation) / 2);
        margin-right: calc(var(--elevation) / 2);
        margin-top: calc(var(--elevation) / 2);
        margin-left: calc(var(--elevation) / 2);

        &::before {
            height: calc(var(--elevation) / 2);
        }

        &::after {
            width: calc(var(--elevation) / 2);
        }
    }

    .grow-wrap {
        display: grid;

        &::after {
            content: attr(data-replicated-value) " " !important;
            white-space: pre-wrap;
            visibility: hidden;
        }

        >textarea {
            resize: none;
            overflow: hidden;
        }

        &::after,
        >textarea {
            grid-area: 1 / 1 / 2 / 2;
        }
    }
}

@layer utilities {
    .elevated-0 {
        --elevation: 0rem;
    }

    .elevated-1 {
        --elevation: 0.25rem;
    }

    .elevated-2 {
        --elevation: 0.5rem;
    }

    .elevated-3 {
        --elevation: 0.75rem;
    }

    .elevated-4 {
        --elevation: 1rem;
    }

    @supports (-webkit-text-stroke: 1px white) {
        .text-outlined {
            -webkit-text-stroke: 1.5px var(--text-outline-color);
        }
    }

    todo tailwind plugin .text-outline-beige {
        --text-outline-color: theme('colors.beige.100');
    }

    .grid.rainbow {
        &.rainbow-5 .rainbowchild {

            // #f1f5b9, #f4ae81, #ef8d8b, #a0a2d3, #afd0d1
            &:nth-child(5n) .rainbowtarget {
                background-color: #f1f5b9;
            }

            &:nth-child(5n + 1) .rainbowtarget {
                background-color: #f4ae81;
            }

            &:nth-child(5n + 2) .rainbowtarget {
                background-color: #ef8d8b;
            }

            &:nth-child(5n + 3) .rainbowtarget {
                background-color: #a0a2d3;
            }

            &:nth-child(5n + 4) .rainbowtarget {
                background-color: #afd0d1;
            }
        }
    }
}


html {
    background-image: url('/.netlify/images?url=/images/bg.png');
    background-color: theme('colors.beige.100');
    background-size: 80px;
    background-repeat: repeat;
    color: #000000;
    font-weight: 600;
}

body {
    margin: 0;
    min-width: 400px;
}

dialog:modal {
    max-width: 100vw;
    max-height: 100vh;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(0.15rem);
}

.no-margin-children>* {
    margin: 0;
}

.maingrid a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.125em;
}

div.maingrid {
    display: grid;
    position: relative;
    grid-template-rows: 3.5rem auto auto 3.5rem;
    grid-template-areas:
        "links"
        "name"
        "tagline"
        "shortinfo";
}

.contactformgrid {
    display: grid;
    grid-template-areas:
        "person"
        "message"
        "submit";

    @media screen and (min-width: 48rem) {
        grid-template-areas:
            "person message"
            "submit message";
        grid-template-columns: 1fr 1fr;
    }

    &:has(:invalid) div.elevated-card-hoverable:has(input[type="submit"]) {
        @apply elevated-0 opacity-60;

        :hover {
            cursor: not-allowed;
        }

        >div.border-b-2.border-r-2 {
            @apply border-r-4 border-b-4;
        }
    }
}

.footergrid {
    display: grid;
    grid-template-areas:
        "name"
        "links"
        "address";

    @media screen and (min-width: 48rem) {
        grid-template-areas:
            "links name address";
    }
}

@media screen and (min-width: 48rem) {
    div.maingrid {
        height: 92vh;
        grid-template-rows: 3.5rem auto auto;
        grid-template-areas:
            "shortinfo links"
            "tagline tagline"
            "name name";
    }
}

#shortinfo {
    grid-area: shortinfo;
}

#links {
    grid-area: links;
}

#tagline {
    grid-area: tagline;
}

#name {
    grid-area: name;
}

div.projectsgrid {
    display: grid;
    grid-template-areas:
        "project1"
        "project2"
        "project3"
        "project4"
        "more";
}

@media screen and (min-width: 56rem) {
    div.projectsgrid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 3.5rem;
        grid-template-areas:
            "project1 project2"
            "project3 project4"
            "more more";
    }
}

@media screen and (min-width: 96rem) {
    div.projectsgrid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, minmax(0, 1fr)) 3.5rem;
        grid-template-areas:
            "project1 project2"
            "project1 project3"
            "project1 project4"
            "project1 more";
    }
}

#project1 {
    grid-area: project1;
}

#project2 {
    grid-area: project2;
}

#project3 {
    grid-area: project3;
}

#project4 {
    grid-area: project4;
}

#projectsmore {
    grid-area: more;
}

.animateunderline {
    display: block;
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        width: 100%;
        height: 0.4rem;
        background-color: #000000;
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        transition: opacity 100ms, transform 100ms;
    }
}

.group:hover .animateunderline::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}