@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    --elevation: 0.5rem;
}

@layer components {
    .elevated-card {
        position: relative;
        margin-bottom: var(--elevation);
        margin-right: var(--elevation);

        --animation: 100ms ease-out;
        transition: margin var(--animation);

        &:hover {
            margin-bottom: calc(var(--elevation) / 2);
            margin-right: calc(var(--elevation) / 2);
            margin-top: calc(var(--elevation) / 2);
            margin-left: calc(var(--elevation) / 2);

            &::before {
                height: calc(var(--elevation) / 2);
            }

            &::after {
                width: calc(var(--elevation) / 2);
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            transform-origin: 0 0;
            z-index: -1;
        }

        &::before {
            width: 100%;
            height: var(--elevation);
            transform: skewx(45deg);
            top: 100%;
            left: 0;
            background: #000000;
            transition: height var(--animation);
        }

        &::after {
            width: var(--elevation);
            height: 100%;
            transform: skewy(45deg);
            top: 0;
            left: 100%;
            background: #000000;
            z-index: -2;
            transition: width var(--animation);
        }
    }
}

@layer utilities {
    .elevated-1 {
        --elevation: 0.25rem;
    }

    .elevated-2 {
        --elevation: 0.5rem;
    }

    .elevated-3 {
        --elevation: 0.75rem;
    }

    .elevated-4 {
        --elevation: 1rem;
    }
}


html {
    background-color: #ecede7;
    color: #000000;
    font-weight: 600;
}

body {
    margin: 0;
    min-width: 400px;
}


.no-margin-children>* {
    margin: 0;
}

.maingrid a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.125em;
}

div.maingrid {
    display: grid;
    position: relative;
    grid-template-rows: 3.5rem auto auto 3.5rem;
    grid-template-areas:
        "links"
        "name"
        "tagline"
        "shortinfo";
}

@media screen and (min-width: 48rem) {
    div.maingrid {
        height: 92vh;
        grid-template-rows: 3.5rem auto auto;
        grid-template-areas:
            "shortinfo links"
            "tagline tagline"
            "name name";
    }
}

#shortinfo {
    grid-area: shortinfo;
}

#links {
    grid-area: links;
}

#tagline {
    grid-area: tagline;
}

@media screen and (max-width: 48rem) {
    #tagline {
        -webkit-text-stroke: 1.5px #131218;
    }
}

#name {
    grid-area: name;
}

div.projectsgrid {
    display: grid;
    grid-template-areas:
        "project1"
        "project2"
        "project3"
        "project4"
        "more";
}

@media screen and (min-width: 64rem) {
    div.projectsgrid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 3.5rem;
        grid-template-areas:
            "project1 project2"
            "project3 project4"
            "more more";
    }
}

@media screen and (min-width: 96rem) {
    div.projectsgrid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, minmax(0, 1fr)) 3.5rem;
        grid-template-areas:
            "project1 project2"
            "project1 project3"
            "project1 project4"
            "project1 more";
    }
}

#project1 {
    grid-area: project1;
}

#project2 {
    grid-area: project2;
}

#project3 {
    grid-area: project3;
}

#project4 {
    grid-area: project4;
}

#projectsmore {
    grid-area: more;
}

.animateunderline {
    display: block;
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        width: 100%;
        height: 0.2em;
        background-color: #000000;
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        transition: opacity 100ms, transform 100ms;
    }
}

.group:hover .animateunderline::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}