html {
  background-color: #ecede7;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
}

.no-margin-children > * {
  margin: 0;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.125em;
}