---
import Layout from "../../../layouts/Layout.astro";
import "../../../../public/projects/cultureonair/unity.css";
---

<Layout title="Culture on Air | koenidv | Unity WebGL">
	<div
		class="sm:hidden absolute w-screen h-screen bg-[#ecede7] z-50 flex flex-col justify-center items-center">
		<svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 24 24">
			<path
				d="M 12 2 C 9.033 2 6.5688438 4.167 6.0898438 7 L 8.1425781 7 C 8.5895781 5.28 10.142 4 12 4 C 13.080901 4 14.085524 4.441733 14.822266 5.1777344 L 13 7 L 18 7 L 18 2 L 16.232422 3.7675781 C 15.12732 2.6635322 13.621048 2 12 2 z M 2 9 L 2 21 L 22 21 L 22 9 L 2 9 z M 4 11 L 19 11 L 19 19 L 4 19 L 4 11 z"
			></path>
			<p class="my-4">Please turn your phone.</p>
		</svg>
	</div>

	<div
		id="unity-fullscreen-button"
		class="group inline-block elevated-card-hoverable elevated-1 hover:cursor-pointer fixed top-8 left-8">
		<div
			class="flex h-full w-full flex-col overflow-hidden border-b-1 border-l-2 border-r-1 border-t-2 border-black group-hover:bg-black transition-colors">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="w-8 h-8 fill-current group-hover:fill-[#ecede7] transition-colors"
				viewBox="0 0 24 24">
				<path
					d="M 3 3 L 3 9 L 5.2929688 6.7070312 L 8.8925781 10.306641 L 10.306641 8.8925781 L 6.7070312 5.2929688 L 9 3 L 3 3 z M 15 3 L 17.292969 5.2929688 L 13.693359 8.8925781 L 15.107422 10.306641 L 18.707031 6.7070312 L 21 9 L 21 3 L 15 3 z M 8.8925781 13.693359 L 5.2929688 17.292969 L 3 15 L 3 21 L 9 21 L 6.7070312 18.707031 L 10.306641 15.107422 L 8.8925781 13.693359 z M 15.107422 13.693359 L 13.693359 15.107422 L 17.292969 18.707031 L 15 21 L 21 21 L 21 15 L 18.707031 17.292969 L 15.107422 13.693359 z"
				></path>
			</svg>
		</div>
	</div>

	<div class="flex flex-row h-full w-full">
		<div class="sidebar flex w-24 flex-shrink-0 justify-center max-lg:hidden">
			<div
				class="sidebar-content flex flex-row-reverse w-fit h-full [writing-mode:vertical-rl] py-8 items-center justify-between">
				<div class="inline-block rotate-180">
					<a href="/">
						<h2
							class="inline-block text-5xl font-poppins font-bold outlined tracking-wide text-outlined hover:text-[#131218] hover:underline underline-offset-[0.3rem] decoration-[0.3rem]">
							Florian König
						</h2>
					</a>
					<h2 class="inline-block text-4xl py-8 unity-build-title">Culture on Air</h2>
				</div>
				<!-- <div
					id="unity-fullscreen-button"
					class="group inline-block elevated-card-hoverable elevated-1 hover:cursor-pointer">
					<div
						class="flex h-full w-full flex-col overflow-hidden border-b-1 border-l-2 border-r-1 border-t-2 border-black group-hover:bg-black transition-colors">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="w-8 h-8 fill-current group-hover:fill-[#ecede7] transition-colors"
							viewBox="0 0 24 24">
							<path
								d="M 3 3 L 3 9 L 5.2929688 6.7070312 L 8.8925781 10.306641 L 10.306641 8.8925781 L 6.7070312 5.2929688 L 9 3 L 3 3 z M 15 3 L 17.292969 5.2929688 L 13.693359 8.8925781 L 15.107422 10.306641 L 18.707031 6.7070312 L 21 9 L 21 3 L 15 3 z M 8.8925781 13.693359 L 5.2929688 17.292969 L 3 15 L 3 21 L 9 21 L 6.7070312 18.707031 L 10.306641 15.107422 L 8.8925781 13.693359 z M 15.107422 13.693359 L 13.693359 15.107422 L 17.292969 18.707031 L 15 21 L 21 21 L 21 15 L 18.707031 17.292969 L 15.107422 13.693359 z"
							></path>
						</svg>
					</div>
				</div> -->
			</div>
		</div>
		<div class="game w-full lg:elevated-card lg:mr-8 lg:my-8">
			<div
				class="flex h-full w-full flex-col overflow-hidden lg:border-b-2 lg:border-l-4 lg:border-r-2 lg:border-t-4 border-black">
				<div id="unity-container" class="unity-desktop">
					<canvas
						id="unity-canvas"
						class="bg-[#221f20] h-screen lg:h-[calc(100vh-4.3rem)] w-full"
						width="100%"
						height="100%"
						tabindex="-1"></canvas>
					<div id="unity-loading-bar">
						<div id="unity-logo"></div>
						<div id="unity-progress-bar-empty">
							<div id="unity-progress-bar-full"></div>
						</div>
					</div>
					<div id="unity-warning"></div>
				</div>
			</div>
		</div>
	</div>

	<script>
		var container = document.querySelector("#unity-container");
		var canvas = document.querySelector("#unity-canvas");
		var loadingBar = document.querySelector("#unity-loading-bar");
		var progressBarFull = document.querySelector("#unity-progress-bar-full");
		var fullscreenButton = document.querySelector("#unity-fullscreen-button");
		var warningBanner = document.querySelector("#unity-warning");

		// Shows a temporary message banner/ribbon for a few seconds, or
		// a permanent error message on top of the canvas if type=='error'.
		// If type=='warning', a yellow highlight color is used.
		// Modify or remove this function to customize the visually presented
		// way that non-critical warnings and error messages are presented to the
		// user.
		function unityShowBanner(msg, type) {
			function updateBannerVisibility() {
				warningBanner.style.display = warningBanner.children.length ? "block" : "none";
			}
			var div = document.createElement("div");
			div.innerHTML = msg;
			warningBanner.appendChild(div);
			if (type == "error") div.style = "background: red; padding: 10px;";
			else {
				if (type == "warning") div.style = "background: yellow; padding: 10px;";
				setTimeout(function () {
					warningBanner.removeChild(div);
					updateBannerVisibility();
				}, 5000);
			}
			updateBannerVisibility();
		}

		var buildUrl = "/projects/cultureonair/Build";
		var loaderUrl = buildUrl + "/build.loader.js";
		var config = {
			dataUrl: buildUrl + "/build.data.br",
			frameworkUrl: buildUrl + "/build.framework.js.br",
			codeUrl: buildUrl + "/build.wasm.br",
			streamingAssetsUrl: "StreamingAssets",
			companyName: "koenidv",
			productName: "Culture on Air",
			productVersion: "1.0",
			showBanner: unityShowBanner
		};

		// By default, Unity keeps WebGL canvas render target size matched with
		// the DOM size of the canvas element (scaled by window.devicePixelRatio)
		// Set this to false if you want to decouple this synchronization from
		// happening inside the engine, and you would instead like to size up
		// the canvas DOM size and WebGL render target sizes yourself.
		// config.matchWebGLToCanvasSize = false;

		if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
			// Mobile device style: fill the whole browser client area with the game canvas:

			var meta = document.createElement("meta");
			meta.name = "viewport";
			meta.content =
				"width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes";
			document.getElementsByTagName("head")[0].appendChild(meta);
			container.className = "unity-mobile";
			canvas.className = "unity-mobile";

			// To lower canvas resolution on mobile devices to gain some
			// performance, uncomment the following line:
			config.devicePixelRatio = 1;
		} else {
			// Desktop style: Render the game canvas in a window that can be maximized to fullscreen:
			// canvas.style.width = "100%";
			// canvas.style.height = "100%";
		}

		loadingBar.style.display = "block";

		var script = document.createElement("script");
		script.src = loaderUrl;
		script.onload = () => {
			createUnityInstance(canvas, config, (progress) => {
				progressBarFull.style.width = 100 * progress + "%";
			})
				.then((unityInstance) => {
					loadingBar.style.display = "none";
					fullscreenButton.onclick = () => {
						unityInstance.SetFullscreen(1);
					};
				})
				.catch((message) => {
					alert(message);
				});
		};

		document.body.appendChild(script);
	</script>
</Layout>
