---
import TitleArea from "../components/TitleArea/TitleArea.astro";
import Layout from "../layouts/Layout.astro";
import Marquee from "../components/Marquee.astro";
import ProjectCardSmall from "../components/ProjectCardSmall.astro";
import ProjectDialog from "../components/ProjectDialog.astro";
---

<Layout title="Florian König">
	<TitleArea />

	<div id="projects">
		<Marquee inverse={false}>
			<p>Android Native</p>
			<p>Web</p>
			<p>Cloud Native</p>
			<p>Hardware Interfaces</p>
			<p>DevOps</p>
			<p>Design</p>
		</Marquee>

		<div
			id="recent-projects"
			class="projectsgrid min-h-[56rem] 2xl:max-h-[92vh] overflow-hidden p-4 md:p-8 max-md:mt-4 xl:px-16 gap-4 xl:gap-8">
			<h2 class="sr-only">Recent Projects</h2>
			<div
				id="project1"
				class="opendialog group elevated-4 elevated-card-hoverable hover:cursor-pointer"
				data-dialog="dialog1"
				data-origin="project1"
				tabindex="0"
				aria-label="Open details">
				<div class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full">
					<img
						src="/images/melodymates.webp"
						class="w-full aspect-[2] md:aspect-video object-cover md:max-2xl:h-96 border-black border-b-4"
					/>
					<div class="m-8">
						<h2
							class="animateunderline h-12 text-4xl font-poppins font-bold tracking-wider md:mt-4 underline-offset-[0.4rem] decoration-[0.2rem]">
							MelodyMates
						</h2>
						<p class="mt-2">
							MelodyMates is a social network for young music lovers.<br />
							Sign up with Spotify, share the songs you love, and discover what your friends are recommending.<br
							/>
						</p>
						<div class="mt-4 md:mt-8 flex flex-wrap gap-2">
							<span class="bg-[#e0e2d8] rounded-sm px-2">Fauna</span>
							<span class="bg-[#e0e2d8] rounded-sm px-2">Deno</span>
							<span class="bg-[#e0e2d8] rounded-sm px-2">Flutter</span>
							<span class="bg-[#e0e2d8] rounded-sm px-2">SvelteKit</span>
						</div>
					</div>
				</div>
			</div>
			<ProjectDialog title="MelodyMates" image="/images/melodymates.webp" index={1}>
				<p>
					MelodyMates is a social network for young music lovers.<br />
					Sign up with Spotify, share the songs you love, and discover what your friends are recommending.
				</p>
				<div class="pt-4 pb-2 flex gap-2 flex-wrap">
					<a
						href="https://melodymates.app"
						target="_blank"
						class="inline-block group elevated-card-hoverable elevated-1 h-8 w-fit">
						<div
							class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center px-12">
							<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
								Try it now
							</p>
						</div>
					</a>
					<a
						href="https://github.com/koenidv/melodymates"
						target="_blank"
						class="inline-block group elevated-card-hoverable elevated-1 h-8 w-fit">
						<div
							class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center px-12">
							<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
								Code on GitHub
							</p>
						</div>
					</a>
				</div>
				<div class="imagecarousel flex flex-row gap-2 overflow-x-scroll">
					<a
						target="_blank"
						href="https://user-images.githubusercontent.com/32238636/234383204-cfd9e5fe-743f-45ee-b054-9dac9ad465cc.png">
						<img
							class="max-h-[40vh] rounded"
							src="https://user-images.githubusercontent.com/32238636/234383204-cfd9e5fe-743f-45ee-b054-9dac9ad465cc.png"
						/>
					</a>
					<a
						target="_blank"
						href="https://user-images.githubusercontent.com/32238636/234383213-91b8f412-c4a7-45c8-910a-bc2a939c4678.png">
						<img
							class="max-h-[40vh] rounded"
							src="https://user-images.githubusercontent.com/32238636/234383213-91b8f412-c4a7-45c8-910a-bc2a939c4678.png"
						/>
					</a>
					<a
						target="_blank"
						href="https://user-images.githubusercontent.com/32238636/234383226-4699cbfa-1de5-4492-977b-520345ba5058.png">
						<img
							class="max-h-[40vh] rounded"
							src="https://user-images.githubusercontent.com/32238636/234383226-4699cbfa-1de5-4492-977b-520345ba5058.png"
						/>
					</a>
					<a
						target="_blank"
						href="https://user-images.githubusercontent.com/32238636/234383242-daef942c-f03a-4a4f-bd77-ea3a1990e80c.png">
						<img
							class="max-h-[40vh] rounded"
							src="https://user-images.githubusercontent.com/32238636/234383242-daef942c-f03a-4a4f-bd77-ea3a1990e80c.png"
						/>
					</a>
				</div>
				<h2 class="text-3xl font-poppins pt-4">Motivation</h2>
				<p>
					I often find great new songs that I want to show my friends. What I used to was sending
					them Spotify links on messengers. However, this was not only a bad user experience, I also
					had to send it to multiple people individually. Receiving links without a rich preview
					also meant having to play a song first to see what it was about. Lastly, this broke as
					soon as a friend was using a different streaming service.
				</p>
				<p>
					Thus was born the idea to build a platform where friends can connect to discover awesome
					music. MelodyMates can connect to different music streaming services, and will always show
					information about shared songs. Furthermore, friends can react and reply to express their
					feelings about a song.
				</p>
				<h2 class="text-3xl font-poppins pt-4">Connecting Humans</h2>
				<p>
					Like many of my projects, MelodyMates is all about fostering meaningful connectings
					between humans. Communally liked music can contribute to deepening the social connection
					people feel, exploring more similarities.
					<a
						class="bg-[#e8e7ed] hover:underline underline-offset-[0.3rem] decoration-[0.125rem]"
						href="https://www.semanticscholar.org/paper/Cultural-Familiarity-and-Individual-Musical-Taste-Stupacher-Witek/77fdaab24703432b2891f1fb8db30fa34830f690">
						Stupacher et al. (2020)
					</a>
					, for example, found that "the social context provided by music can strengthen interpersonal
					closeness by increasing temporal and affective self-other overlaps".
				</p>
				<h2 class="text-3xl font-poppins pt-4">Technology</h2>
				<p>
					I wanted to use this project to experiment with new technologies. Most of MelodyMate's
					backend is running on the API layer on top of the database utilized, Fauna. This includes
					attribute-based access control, database functions, and more. The client accesses this
					through a GraphQL endpoint.
				</p>
				<p>
					This client is built on SvelteKit for the Web and being built on Flutter for mobile. It
					directly communicates with the Spotify API, and eventually, the Apple Music API. This
					minimizes private user data handling on the server side.
				</p>
				<p>
					Furthermore, I have built a custom authentication solution, running on Google Cloud Run.
					It generates asynchronous JWTs based on a user's authenticated music service access. This
					token can be independently validated on Fauna.
				</p>
				<div class="flex flex-row gap-2 overflow-x-scroll">
					<a
						target="_blank"
						href="https://user-images.githubusercontent.com/32238636/234679138-054267b9-162f-4359-8f8a-b34eb024165d.png">
						<img
							class="max-h-[40vh] rounded"
							src="https://user-images.githubusercontent.com/32238636/234679138-054267b9-162f-4359-8f8a-b34eb024165d.png"
						/>
					</a>
				</div>
				<h2 class="text-3xl font-poppins pt-4">Challenges</h2>
				<p>This is something I have yet to write.</p>
			</ProjectDialog>
			<ProjectCardSmall
				title="Chess:E"
				description="Remote but analog chess system that brings the traditional chess experience to the digital age."
				image="/images/chesse.webp"
				index={2}
				tags={["Hardware", "Deno", "AMQP", "Python", "SvelteKit"]}
			/>
			<ProjectDialog title="Chess:E" image="/images/chesse.webp" index={2}>
				<p>Description to be added.</p>
			</ProjectDialog>
			<ProjectCardSmall
				title="Indicating Helmet"
				description="Rapid prototyping of a bike helmet with turn signals to improve urban safety."
				image="/images/helmet.webp"
				index={3}
				tags={["Hardware", "C"]}
			/>
			<ProjectDialog title="Indicating Helmet" image="/images/helmet.webp" index={3}>
				<p>Description to be added.</p>
			</ProjectDialog>
			<ProjectCardSmall
				title="Schulportal App"
				description="Native Android app for students to manage timetables and homework, chat with teachers, and much more."
				image="/images/sphplanner.webp"
				index={4}
				tags={["600+ Users", "Android", "Kotlin"]}
			/>
			<ProjectDialog title="Schulportal App" image="/images/sphplanner.webp" index={4}>
				<p>Description to be added.</p>
			</ProjectDialog>
			<a href="/projects" id="projectsmore" class="group h-14 w-full flex max-2xl:justify-center">
				<div class="elevated-card-hoverable elevated-3 w-full md:w-[48%] 2xl:w-fit">
					<div
						class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center md:px-20">
						<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
							More Projects
						</p>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div id="about"></div>
	<div id="contact"></div>
</Layout>

<script src="../scripts/dialogbuttons.js"></script>
