---
import Layout from "../layouts/Layout.astro";
import TitleArea from "../components/TitleArea/TitleArea.astro";
import ContactForm from "../components/TitleArea/ContactForm.astro";
import Marquee from "../components/Marquee.astro";
import ProjectCardSmall from "../components/ProjectCardSmall.astro";
import ProjectDialog from "../components/ProjectDialog.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Florian König">
	<TitleArea />

	<section id="projects">
		<Marquee inverse={false}>
			<p>Collaboration</p>
			<p>Android</p>
			<p>Web</p>
			<p>Cloud</p>
			<p>Design</p>
			<p>3D</p>
			<p>Hardware</p>
			<p>DevOps</p>
		</Marquee>

		<div
			id="recent-projects"
			class="projectsgrid min-h-[56rem] 2xl:max-h-[92vh] overflow-hidden p-4 md:p-8 max-md:mt-4 xl:px-16 gap-4 xl:gap-8">
			<h2 class="sr-only">Recent Projects</h2>
			<div class="group flex" id="project1">
				<div
					class="opendialog elevated-4 elevated-card-hoverable hover:cursor-pointer"
					data-dialog="dialog1"
					data-origin="project1"
					data-slug="melodymates"
					tabindex="0"
					aria-label="Open details">
					<div class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full">
						<img
							srcset="
								/images/200/melodymates.webp   200w,
								/images/800/melodymates.webp   400w,
								/images/400/melodymates.webp   800w,
								/images/1200/melodymates.webp 1200w"
							sizes="
								(max-width: 450px) 200px,
								(max-width: 850px) 400px,
								(max-width: 1250px) 800px,
								1200px"
							src="/images/1200/melodymates.webp"
							loading="lazy"
							alt="Cover image for MelodyMates"
							class="w-full aspect-[2] md:aspect-video object-cover md:max-2xl:h-96 border-black border-b-4"
						/>
						<div class="m-8">
							<h2
								class="animateunderline h-12 text-4xl font-poppins font-bold tracking-wider md:mt-4 underline-offset-[0.4rem] decoration-[0.2rem]">
								MelodyMates
							</h2>
							<p class="mt-2">
								MelodyMates is a social network for young music lovers.<br />
								Sign up with Spotify, share the songs you love, and discover what your friends are recommending.<br
								/>
							</p>
							<div class="mt-4 md:mt-8 flex flex-wrap gap-2">
								<span class="bg-[#e0e2d8] rounded-sm px-2">Fauna</span>
								<span class="bg-[#e0e2d8] rounded-sm px-2">Deno</span>
								<span class="bg-[#e0e2d8] rounded-sm px-2">Flutter</span>
								<span class="bg-[#e0e2d8] rounded-sm px-2">SvelteKit</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ProjectDialog title="MelodyMates" image="melodymates.webp" index={1}>
				<p>
					MelodyMates is a social network for young music lovers.<br />
					Sign up with Spotify, share the songs you love, and discover what your friends are recommending.
				</p>
				<div class="pt-4 pb-2 flex gap-2 flex-wrap">
					<div class="group">
						<a
							href="https://melodymates.app"
							target="_blank"
							class="inline-block elevated-card-hoverable elevated-1 h-8 w-fit">
							<div
								class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center px-12">
								<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
									Try it now
								</p>
							</div>
						</a>
					</div>
					<div class="group">
						<a
							href="https://github.com/koenidv/melodymates"
							target="_blank"
							class="inline-block elevated-card-hoverable elevated-1 h-8 w-fit">
							<div
								class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center px-12">
								<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
									Code on GitHub
								</p>
							</div>
						</a>
					</div>
				</div>
				<div class="imagecarousel flex flex-row gap-2 overflow-x-scroll rounded">
					<a
						target="_blank"
						class="lg:saturate-0 hover:saturate-100 transition-all duration-200"
						href="https://user-images.githubusercontent.com/32238636/234383204-cfd9e5fe-743f-45ee-b054-9dac9ad465cc.png">
						<img
							class="max-h-[40vh] min-w-[7.5rem] rounded"
							src="https://user-images.githubusercontent.com/32238636/234383204-cfd9e5fe-743f-45ee-b054-9dac9ad465cc.png"
							loading="lazy"
							alt="Screenshot from Melodymates; Home Screen"
						/>
					</a>
					<a
						target="_blank"
						class="lg:saturate-0 hover:saturate-100 transition-all duration-200"
						href="https://user-images.githubusercontent.com/32238636/234383213-91b8f412-c4a7-45c8-910a-bc2a939c4678.png">
						<img
							class="max-h-[40vh] min-w-[7.5rem] rounded"
							src="https://user-images.githubusercontent.com/32238636/234383213-91b8f412-c4a7-45c8-910a-bc2a939c4678.png"
							loading="lazy"
							alt="Screenshot from Melodymates; User Profile"
						/>
					</a>
					<a
						target="_blank"
						class="lg:saturate-0 hover:saturate-100 transition-all duration-200"
						href="https://user-images.githubusercontent.com/32238636/234383226-4699cbfa-1de5-4492-977b-520345ba5058.png">
						<img
							class="max-h-[40vh] min-w-[7.5rem] rounded"
							src="https://user-images.githubusercontent.com/32238636/234383226-4699cbfa-1de5-4492-977b-520345ba5058.png"
							loading="lazy"
							alt="Screenshot from Melodymates; Song Post Thread"
						/>
					</a>
					<a
						target="_blank"
						class="lg:saturate-0 hover:saturate-100 transition-all duration-200"
						href="https://user-images.githubusercontent.com/32238636/234383242-daef942c-f03a-4a4f-bd77-ea3a1990e80c.png">
						<img
							class="max-h-[40vh] min-w-[7.5rem] rounded"
							src="https://user-images.githubusercontent.com/32238636/234383242-daef942c-f03a-4a4f-bd77-ea3a1990e80c.png"
							loading="lazy"
							alt="Screenshot from Melodymates; Search Results"
						/>
					</a>
				</div>
				<h2 class="text-3xl font-poppins pt-4">Motivation</h2>
				<p>
					I often find great new songs that I want to show my friends. What I used to was sending
					them Spotify links on messengers. However, this was not only a bad user experience, I also
					had to send it to multiple people individually. Receiving links without a rich preview
					also meant having to play a song first to see what it was about. Lastly, this broke as
					soon as a friend was using a different streaming service.
				</p>
				<p>
					Thus was born the idea to build a platform where friends can connect to discover awesome
					music. MelodyMates can connect to different music streaming services, and will always show
					information about shared songs. Furthermore, friends can react and reply to express their
					feelings about a song.
				</p>
				<h2 class="text-3xl font-poppins pt-4">Connecting Humans</h2>
				<p>
					Like many of my projects, MelodyMates is all about fostering meaningful connectings
					between humans. Communally liked music can contribute to deepening the social connection
					people feel, exploring more similarities.
					<a
						class="bg-[#e8e7ed] hover:underline underline-offset-[0.3rem] decoration-[0.125rem]"
						href="https://www.semanticscholar.org/paper/Cultural-Familiarity-and-Individual-Musical-Taste-Stupacher-Witek/77fdaab24703432b2891f1fb8db30fa34830f690">
						Stupacher et al. (2020)
					</a>
					, for example, found that "the social context provided by music can strengthen interpersonal
					closeness by increasing temporal and affective self-other overlaps".
				</p>
				<h2 class="text-3xl font-poppins pt-4">Technology</h2>
				<p>
					I wanted to use this project to experiment with new technologies. Most of MelodyMate's
					backend is running on the API layer on top of the database utilized, Fauna. This includes
					attribute-based access control, database functions, and more. The client accesses this
					through a GraphQL endpoint.
				</p>
				<p>
					This client is built on SvelteKit for the Web and being built on Flutter for mobile. It
					directly communicates with the Spotify API, and eventually, the Apple Music API. This
					minimizes private user data handling on the server side.
				</p>
				<p>
					Furthermore, I have built a custom authentication solution, running on Google Cloud Run.
					It generates asynchronous JWTs based on a user's authenticated music service access. This
					token can be independently validated on Fauna.
				</p>
				<div class="flex flex-row gap-2 overflow-x-scroll">
					<a
						target="_blank"
						class="lg:saturate-0 hover:saturate-100 transition-all duration-200"
						href="https://user-images.githubusercontent.com/32238636/234679138-054267b9-162f-4359-8f8a-b34eb024165d.png">
						<img
							class="max-h-[40vh] rounded"
							src="https://user-images.githubusercontent.com/32238636/234679138-054267b9-162f-4359-8f8a-b34eb024165d.png"
							loading="lazy"
							alt="Diagram describing MelodyMates' software architecture"
						/>
					</a>
				</div>
				<h2 class="text-3xl font-poppins pt-4">Challenges</h2>
				<p>This is something I have yet to write.</p>
			</ProjectDialog>
			<ProjectCardSmall
				title="Chess:E"
				description="Remote but analog chess system that brings the traditional chess experience to the digital age."
				image="chesse.webp"
				index={2}
				tags={["Hardware", "Deno", "AMQP", "Python", "SvelteKit"]}
				slug="chesse"
			/>
			<ProjectDialog title="Chess:E" image="chesse.webp" index={2}>
				<p>
					Chess:E is an internet-enabled chess board that enables playing chess on a physical board
					against friends at a different location or in an virtual environment. It brings the
					traditional chess experience to the digital age.
				</p>
				<div class="pt-4 pb-2 flex gap-2 flex-wrap">
					<div class="group">
						<a
							href="https://pawn-hub.de/"
							target="_blank"
							class="inline-block elevated-card-hoverable elevated-1 h-8 w-fit">
							<div
								class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center px-12">
								<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
									Play Chess:E
								</p>
							</div>
						</a>
					</div>
					<div class="group">
						<a
							href="https://github.com/PawnHubChess/backend"
							target="_blank"
							class="inline-block elevated-card-hoverable elevated-1 h-8 w-fit">
							<div
								class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center px-12">
								<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
									Backend on GitHub
								</p>
							</div>
						</a>
					</div>
				</div>
				<h2 class="text-3xl font-poppins pt-4">Motivation</h2>
				<p>This is something I have yet to write.</p>
				<h2 class="text-3xl font-poppins pt-4">Connecting Humans</h2>
				<p>This is something I have yet to write.</p>
				<h2 class="text-3xl font-poppins pt-4">Team</h2>
				<p>This is something I have yet to write.</p>
				<h2 class="text-3xl font-poppins pt-4">Technology</h2>
				<p>This is something I have yet to write.</p>
				<h2 class="text-3xl font-poppins pt-4">Challenges</h2>
				<p>This is something I have yet to write.</p>
			</ProjectDialog>
			<ProjectCardSmall
				title="Indicating Helmet"
				description="Rapid prototyping of a bike helmet with turn signals to improve urban safety."
				image="helmet.webp"
				index={3}
				tags={["Hardware", "C"]}
				slug="helmet"
			/>
			<ProjectDialog title="Indicating Helmet" image="helmet.webp" index={3}>
				<p>
					This hardware prototype of a helmet with turn indicators is designed to aid urban safety
					by making cyclists more noticable and allowing them to let drivers know where they are
					going.
				</p>
				<div class="pt-4 pb-2 flex gap-2 flex-wrap">
					<div class="group">
						<a
							href="https://drive.google.com/file/d/1zGdzhDCvHW8u2QyqdMXzXgZRerl3s4Cr/view?usp=sharing"
							target="_blank"
							class="inline-block elevated-card-hoverable elevated-1 h-8 w-fit">
							<div
								class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center px-12">
								<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
									Read the documentation
								</p>
							</div>
						</a>
					</div>
				</div>
				<h2 class="text-3xl font-poppins pt-4">Motivation</h2>
				<p>This is something I have yet to write.</p>
				<h2 class="text-3xl font-poppins pt-4">Urban Safety</h2>
				<p>This is something I have yet to write.</p>
				<h2 class="text-3xl font-poppins pt-4">Technology</h2>
				<p>This is something I have yet to write.</p>
				<h2 class="text-3xl font-poppins pt-4">Challenges</h2>
				<p>This is something I have yet to write.</p>
			</ProjectDialog>
			<ProjectCardSmall
				title="Schulportal App"
				description="Native Android app for students to manage timetables and homework, chat with teachers, and much more."
				image="sphplanner.webp"
				index={4}
				tags={["600+ Users", "Android", "Kotlin"]}
				slug="sphplanner"
			/>
			<ProjectDialog title="Schulportal App" image="sphplanner.webp" index={4}>
				<p>
					Schulportal App makes accessing Hesse's education portal a breeze. It allows students to
					manage timetables and homework, chat with teachers, and much more.
				</p>
				<div class="pt-4 pb-2 flex gap-2 flex-wrap">
					<div class="group">
						<a
							href="https://github.com/koenidv/sph-planner"
							target="_blank"
							class="inline-block elevated-card-hoverable elevated-1 h-8 w-fit">
							<div
								class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center px-12">
								<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
									Code on GitHub
								</p>
							</div>
						</a>
					</div>
				</div>
				<div class="imagecarousel flex flex-row gap-2 overflow-x-scroll rounded">
					{
						[
							"Home Screen",
							"Home Screen",
							"Tasks",
							"Schedule Changes",
							"Messenger",
							"Class Summary",
							"Additional Features"
						].map((description, index) => (
							<a
								target="_blank"
								class="transition-all duration-200 hover:saturate-100 lg:saturate-0"
								href={`/images/sphplanner/${index + 1}.png`}>
								<img
									class="max-h-[40vh] min-w-[7.5rem] rounded"
									src={`/images/sphplanner/${index + 1}.png`}
									loading="lazy"
									alt={`Screenshot from Schulportal App; ${description}`}
								/>
							</a>
						))
					}
				</div>
				<h2 class="text-3xl font-poppins pt-4">Motivation</h2>
				<p>This is something I have yet to write.</p>
				<h2 class="text-3xl font-poppins pt-4">Technology</h2>
				<p>This is something I have yet to write.</p>
				<h2 class="text-3xl font-poppins pt-4">Challenges</h2>
				<p>This is something I have yet to write.</p>
			</ProjectDialog>
			<a href="/projects" id="projectsmore" class="group h-14 w-full flex max-2xl:justify-center">
				<div class="elevated-card-hoverable elevated-3 w-full md:w-[48%] 2xl:w-fit">
					<div
						class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center md:px-20">
						<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
							More Projects
						</p>
					</div>
				</div>
			</a>
		</div>
	</section>

	<section id="about">
		<div class="h-8"></div>

		<Marquee inverse={false}>
			<p>About Me</p>
			<p>About Me</p>
			<p>About Me</p>
			<p>About Me</p>
			<p>About Me</p>
			<p>About Me</p>
		</Marquee>

		<div class="flex flex-row">
			<div class="lg:mx-16 mt-4 p-8 md:max-w-2xl lg:max-w-3xl xl:max-w-4xl">
				<h1 class="text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-poppins font-black">
					Hey, I'm <span>Florian</span>!
				</h1>
				<p class="text-lg mt-8">
					I'm a multidisciplinary software engineer with a strong passion for the technology of
					tomorrow.<wbr /> I love building digital products and physical experiences that just feel natural.
				</p>
				<div class="mt-8 flex flex-row items-center gap-3">
					<a
						href="https://www.linkedin.com/in/koenidv/"
						target="_blank"
						id="projectsmore"
						class="group flex max-md:justify-center">
						<div class="elevated-card-hoverable elevated-2 w-full md:w-auto 2xl:w-fit">
							<div
								class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center py-2 px-4 md:px-20">
								<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
									Read My Résumé on LinkedIn
								</p>
							</div>
						</div>
					</a>
					<!-- <div class="flex h-10 flex-row gap-2">
						<a href="https://sanofi.com" target="_blank" class="">
							<img
								class="h-full w-full opacity-100 hover:opacity-80"
								src="https://img.icons8.com/ios-glyphs/60/twitter-circled--v1.png"
								alt="twitter"
							/></a
						>
						<a href="https://sanofi.com" target="_blank" class="">
							<img
								class="h-full w-full opacity-100 hover:opacity-80"
								src="https://img.icons8.com/ios-glyphs/60/github.png"
								alt="twitter"
							/>
						</a>
					</div> -->
				</div>
			</div>
		</div>
	</section>

	<section id="contact" class="mx-4 md:mx-8 xl:mx-16 mt-4 p-4 lg:p-8">
		<h2 class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-poppins mb-14">
			Let's grow together
		</h2>
		<ContactForm />
	</section>

	<Footer />

	<script src="../scripts/dialogbuttons.js"></script>

	<script is:inline>
		document.body.onload = () => {
			if (document.location.href.includes("#")) {
				const id = document.location.href.split("#")[1];
				let dialog, origin;
				switch (id) {
					case "melodymates":
						dialog = document.querySelector("#dialog1");
						origin = document.querySelector("#project1");
						break;
					case "chesse":
						dialog = document.querySelector("#dialog2");
						origin = document.querySelector("#project2");
						break;
					case "helmet":
						dialog = document.querySelector("#dialog3");
						origin = document.querySelector("#project3");
						break;
					case "sphplanner":
						dialog = document.querySelector("#dialog4");
						origin = document.querySelector("#project4");
						break;
					default:
						break;
				}
				if (dialog && origin) {
					dialog.showModal();
					origin.classList.add("invisible");
				}
			}
		};
	</script>
</Layout>
