---
import Layout from "../layouts/Layout.astro";
import Marquee from "../components/Marquee.astro";
---

<Layout title="Florian König">
	<div class="maingrid">
		<div id="shortinfo" class="h-14 flex flex-row gap-8 m-4 justify-center md:justify-start">
			<a class="max-md:hidden" href="https://linkedin.com/in/koenidv" target="_blank"
				>Florian König</a
			>

			<div class="flex flex-row gap-6 opacity-80 items-baseline">
				<a href="#contact-post" class="flex flex-row gap-1 items-center">
					<img
						class="h-4 opacity-75"
						src="https://img.icons8.com/material-rounded/64/marker.png"
						alt="location"
					/>
					<p>Berlin</p>
				</a>
				<a href="https://code.berlin" target="_blank" class="flex flex-row gap-1 items-center">
					<img
						class="h-4 opacity-75"
						src="https://img.icons8.com/material-rounded/64/student-center.png"
						alt="education"
					/>
					<p>CODE University</p>
				</a>
				<a href="https://sanofi.com" target="_blank" class="flex flex-row gap-1 items-center">
					<img
						class="h-4 opacity-75"
						src="https://img.icons8.com/material-rounded/64/business.png"
						alt="work"
					/>
					<p>Sanofi</p>
				</a>
			</div>
		</div>

		<div id="links" class="h-14 flex flex-row gap-4 md:gap-2 m-4 justify-center md:justify-end">
			<a href="#projects">Projects</a>
			<a href="#about">About</a>
			<a href="#contact">Contact</a>
		</div>

		<div id="tagline" class="mx-4 md:mx-8 max-md:my-4 relative">
			<img
				src="/img.jpg"
				class="w-full max-md:-mt-16 max-md:translate-y-6 md:w-[56rem] md:max-w-[80vw] h-48 md:h-[80%] object-cover md:absolute left-[12vw] top-[50%]"
			/>
			<h1
				id="tagline"
				class="relative text-[10vw] md:text-8xl lg:text-[14vh] text-right md:text-left font-black leading-none tracking-widest uppercase md:mix-blend-difference text-[#ecede7] md:text-white">
				Creative<br />
				Developer
			</h1>
		</div>

		<h1
			id="name"
			class="mx-4 md:mx-8 text-[12vw] md:text-8xl lg:text-[14vh] text-left md:text-right font-black leading-none tracking-wider uppercase mix-blend-difference text-white md:flex items-end justify-end">
			Florian<br />
			Kønig
		</h1>
	</div>

	<div id="projects">
		<Marquee inverse={false}>
			<p>Android Native</p>
			<p>Web</p>
			<p>Cloud Native</p>
			<p>Hardware Interfaces</p>
			<p>DevOps</p>
			<p>Design</p>
		</Marquee>

		<div
			id="recent-projects"
			class="projectsgrid md:max-h-[86vh] overflow-hidden p-4 md:p-8 lg:px-16 gap-4 md:gap-8">
			<div id="project1" class="rounded-lg bg-[#e9eae3]">
				<img
					src="https://unsplash.it/500/500"
					class="w-full aspect-[2] md:aspect-video rounded-r-lg rounded-tl-lg"
				/>
				<div class="m-8">
					<h2 class="text-4xl font-poppins font-bold tracking-wider my-8">MelodyMates</h2>
					<p>
						MelodyMates is a social network for young music lovers.<br />
						Sing up with Spotify, share the songs you love, and discover what your friends are recommending.<br
						/>
					</p>
					#Fauna #Deno #Flutter #SvelteKit
				</div>
			</div>
			<div id="project2" class="flex flex-col md:flex-row rounded-lg bg-[#e9eae3]">
				<img
					src="https://unsplash.it/501/501"
					class="h-full aspect-[2] md:aspect-square rounded-tl-lg max-md:rounded-tr-lg rounded-br-lg md:rounded-bl-lg"
				/>
				<div class="flex flex-col m-8">
					<h2 class="text-4xl font-poppins font-bold tracking-wider">Chess:E</h2>
					<p>
						A remote but analog chess board that brings the traditional chess experience to the
						digital age.
					</p>
					#Hardware #Deno #AMQP #Python #SvelteKit
				</div>
			</div>
			<div id="project3" class="flex flex-col md:flex-row rounded-lg bg-[#e9eae3]">
				<img
					src="https://unsplash.it/502/502"
					class="h-full aspect-[2] md:aspect-square rounded-tl-lg max-md:rounded-tr-lg rounded-br-lg md:rounded-bl-lg"
				/>
				<div class="flex flex-col m-8">
					<h2 class="text-4xl font-poppins font-bold tracking-wider">Indicating Helmet</h2>
					<p>Rapid prototyping of a bike helmet with turn signals to improve urban safety.</p>
					#Hardware #C
				</div>
			</div>
			<div id="project4" class="flex flex-col md:flex-row rounded-lg bg-[#e9eae3]">
				<img
					src="https://unsplash.it/503/503"
					class="h-full aspect-[2] md:aspect-square rounded-tl-lg max-md:rounded-tr-lg rounded-br-lg md:rounded-bl-lg"
				/>
				<div class="flex flex-col m-8">
					<h2 class="text-4xl font-poppins font-bold tracking-wider">Schulportal App</h2>
					<p>
						Native Android app for students to manage timetables and homework, chat with teachers,
						and much more.
					</p>
					#600+ Users #Android
				</div>
			</div>
			<div id="projectsmore">More</div>
		</div>

		<!-- <div id="-recent-projects" class="overflow-x-scroll p-8 relative h-[48rem]">
			<div class="absolute w-96 flex flex-col bg-[#d4d5cf] border-[#ecede7] border-4">
				<img src="https://unsplash.it/500/500" class="h-96 aspect-video" />
				<h2 class="text-4xl font-bold tracking-wider m-8">MelodyMates</h2>
			</div>
			<div
				class="absolute left-[23rem] top-40 w-96 flex flex-col bg-[#d4d5cf] border-[#ecede7] border-4">
				<img src="https://unsplash.it/501/501" class="h-96" />
				<h2 class="text-4xl font-bold tracking-wider m-8">Chess:E</h2>
			</div>
			<div class="absolute left-[46rem] w-96 flex flex-col bg-[#d4d5cf] border-[#ecede7] border-4">
				<img src="https://unsplash.it/502/502" class="h-96" />
				<h2 class="text-4xl font-bold tracking-wider m-8">Indicating Helmet</h2>
			</div>
			<div
				class="absolute left-[69rem] top-40 w-96 flex flex-col bg-[#d4d5cf] border-[#ecede7] border-4">
				<img src="https://unsplash.it/503/503" class="h-96" />
				<h2 class="text-4xl font-bold tracking-wider m-8">Schulportal App</h2>
			</div>
		</div> -->
	</div>
	<div class="h-screen"></div>
</Layout>
