---
import Layout from "../layouts/Layout.astro";
import Marquee from "../components/Marquee.astro";
---

<Layout title="Florian König">
  <div style="height:40vh"></div>

  <Marquee inverse={false}>
    <p>Android Native</p>
    <p>Web</p>
    <p>Cloud Native</p>
    <p>Hardware Interfaces</p>
    <p>DevOps</p>
  </Marquee>

  <Marquee inverse={true}>
    <p>Kotlin</p>
    <p>TypeScript</p>
    <p>Deno</p>
    <p>SvelteKit</p>
    <p>FQL</p>
    <p>Java</p>
  </Marquee>
</Layout>
