---
import Layout from "../layouts/Layout.astro";
import Marquee from "../components/Marquee.astro";
---

<Layout title="Florian König">
	<div class="h-[92vh] relative">
		<nav class="w-screen flex flex-row justify-between p-4">
			<div class="flex flex-row gap-8">
				<a href="https://linkedin.com/in/koenidv" target="_blank">Florian König</a>

				<div class="flex flex-row gap-6 opacity-80">
					<a href="#contact-post" class="flex flex-row gap-1 items-center">
						<img
							class="h-4 opacity-75"
							src="https://img.icons8.com/material-rounded/64/marker.png"
							alt="location"
						/>
						<p>Berlin</p>
					</a>
					<a href="https://code.berlin" target="_blank" class="flex flex-row gap-1 items-center">
						<img
							class="h-4 opacity-75"
							src="https://img.icons8.com/material-rounded/64/student-center.png"
							alt="education"
						/>
						<p>CODE University</p>
					</a>
					<a href="https://sanofi.com" target="_blank" class="flex flex-row gap-1 items-center">
						<img
							class="h-4 opacity-75"
							src="https://img.icons8.com/material-rounded/64/business.png"
							alt="work"
						/>
						<p>Sanofi</p>
					</a>
				</div>
			</div>

			<div class="flex flex-row gap-2">
				<a href="#projects">Projects</a>
				<a href="#about">About</a>
				<a href="#contact">Contact</a>
			</div>
		</nav>

		<img src="/img.jpg" class="w-[52rem] h-[35%] object-cover absolute left-[20%] top-[30%]" />

		<h1
			class="title text-[14vh] w-min font-black text-left leading-none tracking-widest uppercase relative left-8 top-8 mix-blend-difference text-white">
			Software<br />
			Engineer
		</h1>

		<h1
			class="text-[14vh] font-black text-right leading-none tracking-wider uppercase absolute bottom-8 right-8 mix-blend-difference text-white">
			Florian<br />
			Kønig
		</h1>
	</div>

	<div id="projects">
		<Marquee inverse={false}>
			<p>Android Native</p>
			<p>Web</p>
			<p>Cloud Native</p>
			<p>Hardware Interfaces</p>
			<p>DevOps</p>
		</Marquee>

		<div id="recent-projects" class="overflow-x-scroll p-8 relative h-[48rem]">
			<div class="absolute w-96 flex flex-col bg-[#d4d5cf] border-[#ecede7] border-4">
				<img src="https://unsplash.it/500/500" class="h-96 aspect-video" />
				<h2 class="text-4xl font-bold tracking-wider m-8">MelodyMates</h2>
			</div>
			<div class="absolute left-[23rem] top-40 w-96 flex flex-col bg-[#d4d5cf] border-[#ecede7] border-4">
				<img src="https://unsplash.it/501/501" class="h-96" />
				<h2 class="text-4xl font-bold tracking-wider m-8">Chess:E</h2>
			</div>
			<div class="absolute left-[46rem] w-96 flex flex-col bg-[#d4d5cf] border-[#ecede7] border-4">
				<img src="https://unsplash.it/502/502" class="h-96" />
				<h2 class="text-4xl font-bold tracking-wider m-8">Indicating Helmet</h2>
			</div>
      <div class="absolute left-[69rem] top-40 w-96 flex flex-col bg-[#d4d5cf] border-[#ecede7] border-4">
        <img src="https://unsplash.it/503/503" class="h-96" />
        <h2 class="text-4xl font-bold tracking-wider m-8">Schulportal App</h2>
      </div>
		</div>
	</div>
	<div class="h-screen"></div>
</Layout>
