<section id="footer" class="footergrid mt-16 bg-[#e0e2d8] px-8 md:px-12 lg:px-16 xl:px-24 py-8">
	<div class="flex flex-col justify-center max-md:mt-4" style="grid-area: links;">
		<a href="https://linkedin.com/in/koendiv" target="_blank">LinkedIn</a>
		<a href="https://twitter.com/koenidv" target="_blank">Twitter</a>
		<a href="https://mastodon.world/@koenidv" target="_blank">Mastodon</a>
		<a href="https://instagram.com/koenique" target="_blank">Instagram</a>
	</div>

	<div class="flex flex-col justify-center md:items-center" style="grid-area: name;">
		<p class="font-poppins">Florian König</p>
		<p class="font-light">{new Date().getFullYear()}</p>
	</div>

	<div id="contact-post" class="flex flex-col justify-center" style="grid-area: address;">
		<p class="max-md:mt-4 md:text-end">
			Florian König<br />
			c/o Factory Works GmbH<br />
			Lohmühlenstraße 65<br />
			12435 Berlin
		</p>
	</div>
</section>
