---
interface Props {
  inverse?: boolean;
}

const { inverse = false } = Astro.props;
---

<div class={inverse ? "marquee-container-right" : "marquee-container-left"}>
  <div class="marquee no-margin-children">
    <slot />
    <slot />
    <slot />
    <slot />
  </div>
</div>

<style>
  .marquee-container-left {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50.1% + var(--offset));
  }

  .marquee-container-right {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-50.1% + var(--offset));
    --move-final: calc(-25% + var(--offset));
  }

  .marquee {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: relative;
    width: max-content;
    align-items: center;
    font-size: 10vw;
    font-family: 'Poppins', sans-serif;

    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 30s linear infinite;
  }

  
  .marquee :global(p) {
    color: #131218;
  }
  
  @supports (-webkit-text-stroke: 1px white) {
    .marquee :global(p:nth-of-type(even)) {
      color: theme('colors.beige.100');
      -webkit-text-stroke: 2px black;
    }
  }  
  
  @media screen and (min-width: 48rem) {
    .marquee {
      font-size: 6rem;
      gap: 4rem;
    }

    @supports (-webkit-text-stroke: 1px white) {
    .marquee :global(:nth-of-type(even)) {
      color: theme('colors.beige.100');
      -webkit-text-stroke: 0.15rem black;
    }
  }  

  }

  .marquee p {
    /* color: #1c1d20;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
    margin: 0;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  }
</style>
