<div id="links" class="h-14 flex flex-row gap-4 md:gap-3 m-4 mx-6 justify-center md:justify-end">
	<a href="/projects">Projects</a>
	<a href="/blog">Articles</a>
	<a href="#about">About</a>
	<a href="#contact">Contact</a>
</div>
