<div id="shortinfo" class="h-14 flex flex-row gap-6 m-4 mx-6 justify-center md:justify-start">
	<a class="max-md:hidden" href="https://linkedin.com/in/koenidv" target="_blank">Florian König</a>

	<div class="flex flex-row gap-6 opacity-80 items-baseline">
		<a href="#contact-post" class="flex flex-row gap-1 items-center">
			<img
				class="h-4 opacity-75"
				src="https://img.icons8.com/material-rounded/64/marker.png"
				alt="location"
			/>
			<p>Berlin + Lisbon</p>
		</a>
		<div class="flex flex-row gap-1 items-center">
			<img
				class="h-4 opacity-75"
				src="https://img.icons8.com/material-rounded/64/student-center.png"
				alt="education"
			/>
			<a href="https://code.berlin" target="_blank">CODE</a>
			<p>+</p>
			<a href="https://iade.pt" target="_blank">IADE</a>
		</div>
	</div>
</div>
