---
import Shortinfo from "./Shortinfo.astro";
import Links from "./Links.astro";
import NameLeft from "../InlineSVGs/NameLeft.astro";
import NameRight from "../InlineSVGs/NameRight.astro";
import TaglineLeft from "../InlineSVGs/TaglineLeft.astro";
import TaglineRight from "../InlineSVGs/TaglineRight.astro";
---

<div class="maingrid">
	<Shortinfo />
	<Links />

	<div id="tagline" class="mx-4 md:mx-8 max-md:my-4 relative">
		<img
			src="/img.jpg"
			class="w-full max-md:-mt-16 max-md:translate-y-6 md:w-[60%] h-48 md:h-[80%] object-cover md:absolute left-[12vw] top-[50%]"
		/>

		<div class="md:hidden flex justify-end max-w-[100vw] h-[20vw]">
			<TaglineRight />
		</div>
		<div class="max-md:hidden flex justify-start pt-4 max-w-[100vw] h-48 lg:h-64 xl:h-[28vh]">
			<TaglineLeft />
		</div>
	</div>


	<div id="name" class="mx-4 max-w-[100vw] md:h-full flex justify-start md:justify-end md:items-end">
		<div class="md:hidden h-[24vw]">
			<NameLeft />
		</div>
		<div class="max-md:hidden h-48 lg:h-64 xl:h-[28vh]">
			<NameRight />
		</div>
	</div>

	<!-- <h1
		id="name"
		class="hidden mx-4 md:mx-8 text-[12vw] md:text-8xl lg:text-[8rem] xl:text-[14vh] text-left md:text-right font-black leading-none tracking-wider uppercase mix-blend-difference text-white md:flex items-end justify-end">
		Florian<br />
		Kønig
	</h1> -->
</div>
