---
import Layout from './Layout.astro';

export interface Props {
	title: string;
	description?: string | undefined;
  socialImage?: string | undefined;
  slug?: string | undefined;
}

const { title, description, socialImage, slug } = Astro.props;
---

<Layout
  title={title}
  description={description}
  socialImage={socialImage}
/>

  <div class="font-mono font-normal">
    <div class="flex md:font-sans font-semibold flex-col md:flex-row p-4 px-6 gap-3 items-center md:justify-between md:items-center">
      <div class="flex items-baseline">
        <a href="/"> <!-- on mobile, direct to /blog if not on /blog already -->
          Florian König
        </a>
        <a href="/blog" class="font-normal px-2 text-sm max-md:hidden">blog/{slug}</a>
      </div>
      <div id="links" class="flex flex-row gap-4 md:gap-3 justify-center md:justify-end opacity-60 md:opacity-100">
        <a href="/projects" class="hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">Projects</a>
        <a href="/blog" class="hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">Articles</a>
        <a href="/#about" class="hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">About</a>
        <a href="/#contact" class="hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">Contact</a>
      </div>
    </div>

    <main id="blog" class="p-4">
      <slot />
    </main>
  </div>

</Layout>